{% extends 'crm/main.html'%}

{% block content%}

<br>
<div class="row">

    <div class="col-md">
        <div class="card card-body" id="total-orders">
            <h5 style="text-align: center;">informasi kontak</h5>
            <hr>
            <p>Email: {{pelanggan.email}}</p>
            <p>No Hp: {{pelanggan.no_hp}}</p>
        </div> 
    </div>
    
    <div class="col-md">
        <div class="card card-body" id='orders-pending'>
            <h5 style="text-align: center;">Total Pesanan</h5>
            <hr>
			<h1 style="text-align: center;padding: 10px">{{pesanan_count}}</h1>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-bordered table-hover"> 
                <tr>
                    <th>produk</th>
                    <th>kategori</th>
                    <th>tgl pesan</th>
                    <th>status</th>
                    <th>update</th>
                    <!-- <th>remove</th> -->
                </tr>
                {% for pesanan in pesanan %}
                <tr>
                    <td>{{pesanan.produk}}</td>
                    <td>{{pesanan.produk.kategori}}</td>
                    <td>{{pesanan.date_created}}</td>
                    <td>{{pesanan.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_pesanan' pesanan.id %}">Update</a></td>
                    <!-- <td><a class="btn btn-sm btn-danger" href="{% url 'delete_pesanan' pesanan.id %}" onclick="return confirm('hapus data ?')">Delete</a></td> -->
                    
                </tr>
                {% endfor%}
            </table>

        </div>
    </div>

</div>













{% endblock content%}